<h1>New Account</h1>

<%= form_tag "/auth/identity/register" do %>
  <% if @user && @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@user) do |f| %>
    <%= render 'fields', :f => f %>
      <div class="actions">
        <%= f.submit "Register" %>
      </div>  
    <% end %>
<% end %>

